.postal-code-input-container {
	display: flex;
	align-items: center;
	justify-content: center;

	input[type="submit"],
	button {
		background-color: red;
		border: none;
		color: white;
		height: 42px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		vertical-align: middle;
		line-height: 0px;
		padding-top: 5px;
	}
}
