.block-newsletter-form {

	&__container {
		display: flex;
		flex-direction: column;
		padding: 32px 24px;

		@include media(">=desktop") {
			flex-direction: row;
			justify-content: center;
			padding: 64px 0;
		}

	}

	&__content-container {

		@include media(">=desktop") {
			display: grid;
			border-right: 1px solid $grey_3;
			padding-right: 1.5em;
  			grid-template-columns: .25fr 1fr 1fr; 
  			grid-template-rows: .2fr 1fr; 
  			gap: 0px 24px; 
  			grid-template-areas: 
    		". heading heading"
    		"image content content"; 
		}

	}

	&__image {
		display: none;

		@include media(">=desktop") {
			grid-area: image;
			background: no-repeat center;
			background-size: contain;
			height: 100px;
			width: 100px;
			max-width: 100px;
			content: url("../icons/utility/email-signup--black.svg");
			display: block;
		}
	}

	&__heading {
		font-size: 18px;
		text-align: center;
		font-weight: 700;
		align-self: baseline;

		@include media(">=desktop") {
			grid-area: heading;
			text-align: left;
			margin-bottom: 0;
		}

	}

	&__content {
		font-size: 24px;
		line-height: 28px;
		font-weight: 900;
		margin-bottom: 24px;
		align-self: center;
		margin-left: 24px;

		@include media(">=desktop") {
			grid-area: content;
			text-align: left;
			margin-left: 0;
			font-size: 40px;
			line-height: 48px;
			margin-bottom: 0;
			margin-top: 16px;
		}
	}

	&__form-container {
		margin: 0 auto;

		@include media(">=desktop") {
			margin: 0 0 0 24px;
			align-self: center;
		}

		.gform_wrapper {
			@include media(">=desktop") {
				width: 100%;
			}
		}

		form {
			display: flex;
			flex-direction: row;

			.gform_body {
				label.gfield_label {
					font-size: 14px;
					font-weight: 300;
					margin-bottom: 2px;
				}

				input[type=text] {
					border-radius: 5px 0 0 5px;
					padding: 8px 12px;
					max-height: 40px;
					line-height: 24px;
				}
			}

			.gform_footer {

				input[type=submit] {
					width: auto;
					border-radius: 0 5px 5px 0;
					font-size: 1.125rem;
					font-weight: 700;
					line-height: 24px;
					padding: 2px 16px;
					text-decoration: none;
					background-color: brand-color('red');
					color: $white;
					margin-bottom: 0;
					margin-top: 3px;
					max-height: 40px;

					@include media(">=tablet") {
						padding: 8px 16px;
					}
				}
			}
		}
	}

}