.block-mega-button {

	display: inline-flex;
	padding: 0 0.5em;
	width: auto;

	a {
		display: block;
		background-color: $white;
		text-align: center;
		text-decoration: none;
		padding: 1em;
		margin-top: 1em;
		margin-bottom: 1em;
		border-radius: $border-radius;
		transition: background-color 0.2s ease, border 0.3s ease;
		border: 1px solid transparent;

		&:hover,
		&:focus {
			background-color: $grey_1;
			border: 1px solid $grey_3;
			transition: background-color 0.3s ease, border 0.4s ease;
		}
	}

	&.alignleft {
		justify-content: flex-start;
	}

	&.aligncenter {
		justify-content: center;
	}

	&.alignright {
		justify-content: flex-end;
	}

	/**
	Widths
	 */
	&--width-constrain {

		a {
			min-width: 150px;
			max-width: 150px;
		}
	}

	&--width-auto {

		a {
			min-width: 120px;
			width: auto;
		}
	}

	&--width-full {

		width: 100%;
		a {
			width: 100%;
		}
	}

	/**
	Have to reset block styles and push them down to link element
	 */
	&.is-style-shadowed {

		box-shadow: none;
		a {
			box-shadow: 0 4px 8px 0 rgba(56, 61, 67, 0.30);
		}
	}
	@include media(">=tablet") {
		//max-width: 144px;
		//max-height: 128px;
	}

	&__image {
		max-height: 32px;
		max-width: 32px;
		margin: 0.5em auto;

		@include media(">=tablet") {
			max-width: 40px;
			max-height: 64px;

		}
	}

	&__text {
		display: block;
		color: #000;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-align: center;
	}
}
