.block-offer-card {

	/* Default Offer Card */

	&__offer-expiration {
		@include font-sizes(1em, 0.875em);
		color: $grey_6;
		line-height: 1.25rem;
		letter-spacing: -0.13px;

		@include media("<=tablet") {
			line-height: 1.375rem;
			margin-top: 10px;
			letter-spacing: -0.15px;
		}
	}

	&__terms {
		text-align: center;
	}

	&__terms-toggle {
		border: none;
		background: none;
		color: $grey_6;
		font-size: 14px;
		line-height: 20px;
		text-decoration: underline;
		display: inline;
		cursor: pointer;

		@include media("<=tablet") {
			font-size: 0.875em;
			line-height: 22px;
		}
	}

	&__container {
		text-align: center;
		padding: 48px;
	}

	&__subheading {
		@include font-sizes(1.125em);
		font-weight: 700;
		line-height: 1.5em;
		letter-spacing: -0.17px;
	}

	&__heading {
		@include font-sizes(1.5em, 2em, 2.5em, 2.5em);
		line-height: 1.75rem;
		letter-spacing: -0.15px;
		font-weight: 900;
		margin-bottom: 0;

		@include media(">=tablet") {
			line-height: 3rem;
			letter-spacing: -0.38px;
		}
	}

	&__image {
		width: 100%;
		object-fit: cover;
		aspect-ratio: 3 / 2;
		object-position: center;
	}

	&__link {

		align-items: flex-start;

		&__icon {
			filter: invert(99%) sepia(95%) saturate(0%) hue-rotate(157deg) brightness(103%) contrast(101%);
			width: 20px !important;
			height: 20px !important;
		}
	}

	&__wrapper {
		text-align: center;
		display: flex;
		flex-flow: column;
		padding: 0;

		a {
			button {
				border-style: none;
				background: none;

				.wp-block-button {

					&__link {
						padding: 12px 24px;
						border-radius: 24px;
					}
				}
			}
		}

		/* Masthead Offer Card */

		&__masthead {
			background-color: rgba(0, 0, 0, 0.8) !important;
			border-style: none;
			background: none;
			padding: 48px;

			h3 {
				@include font-sizes(2.5em);
				line-height: 48px;
				font-weight: 900;
			}

			.block-offer-card {

				&__offer-expiration {
					font-size: 12px;
					line-height: 16px;
				}

				&__subheading {
					@include font-sizes(1.125em);
					font-weight: 700;
					line-height: 24px;
					letter-spacing: -0.17px;
				}

				&__terms-toggle {
					font-size: 12px;
					color: $white;
					text-decoration: none;
					line-height: 16px;
				}
			}

			button {
				background: none;
				border-style: none;
			}

			.wp-block-button {

				&__link {
					padding: 16px 48px;
					border-radius: 36px;
				}
			}
		}

		/* Full Width Offer Card */

		&__full-width {
			display: flex;
			flex-direction: row;

			a {

				button {
					border-style: none;
					background: none;

					.wp-block-button {

						&__link {
							padding: 12px 24px;
							border-radius: 24px;
						}
					}
				}
			}

			.block-offer-card {

				&__container {
					width: fit-content;
					align-self: center;
					padding: 0 48px;
				}

				&__subheading {
					font-size: 1.125em;
				}

				&__offer-expiration {
					font-size: 1em;
				}

				&__terms-toggle {
					font-size: 1em;
				}

			}

			img {
				width: 66%;
				object-fit: contain;
			}
		}

	}

}
