.block-offer-card {
	//Store the parent
	$block-offer-card: &;

	/* Default Offer Card */

	&__offer-expiration {
		@include font-sizes(1em, 0.875em);
		color: $grey_6;
		line-height: 1.25rem;
		letter-spacing: -0.13px;

		@include media("<=tablet") {
			line-height: 1.375rem;
			margin-top: 10px;
			letter-spacing: -0.15px;
		}
	}

	&__terms {
		text-align: center;
	}

	&__terms-toggle {
		border: none;
		background: none;
		color: $grey_6;
		font-size: 14px;
		line-height: 20px;
		text-decoration: underline;
		display: inline;
		cursor: pointer;

		@include media("<=tablet") {
			font-size: 0.875em;
			line-height: 22px;
		}
	}

	&__container {
		text-align: center;
		padding: 48px;
		height: 100%;
	}

	&__subheading {
		@include font-sizes(1.125em);
		font-weight: 700;
		line-height: 1.5em;
		letter-spacing: -0.17px;
	}

	&__heading {
		@include font-sizes(1.5em, 2em, 2.5em, 2.5em);
		line-height: 1.25;
		letter-spacing: -0.15px;
		font-weight: 900;
		margin-bottom: 0;

		@include media(">=tablet") {
			letter-spacing: -0.38px;
		}

		&.is-font-size-large {
			@include font-sizes(2.5rem, 3rem, 3.750rem, 3.750rem);
		}

		&.is-font-size-normal {
			@include font-sizes(1.5rem, 2rem, 3.25rem, 3.25rem);
		}

		&.is-font-size-small {
			@include font-sizes(1.5rem, 2rem, 2.5rem, 2.5rem);
		}
	}

	&__excerpt {
		@include font-sizes( 1.125rem, 1.375rem );
		font-weight: 900;
	}

	&__image {
		width: 100%;
		object-fit: cover;
		aspect-ratio: 3 / 2;
		object-position: center;
	}

	&__link {

		align-items: flex-start;

		&__icon {
			filter: invert(99%) sepia(95%) saturate(0%) hue-rotate(157deg) brightness(103%) contrast(101%);
			width: 20px !important;
			height: 20px !important;
		}
	}

	&__wrapper {
		text-align: center;
		display: flex;
		flex-flow: column;
		padding: 0;
		height: 100%;

		a {
			button {
				border-style: none;
				background: none;

				.wp-block-button {

					&__link {
						padding: 12px 24px;
						border-radius: 24px;
					}
				}
			}
		}

		/* Masthead Offer Card */

		&__masthead {
			background-color: rgba(0, 0, 0, 0.8);
			border-style: none;
			background: none;
			padding: 48px;
			//display: flex;
			//flex-direction: column;
			//justify-content: flex-start;
			text-align: left;

			.block-offer-card {

				&__offer-expiration {
					@include font-sizes(0.750rem);
					line-height: 1rem;
				}

				&__subheading {
					@include font-sizes(1.125em);
					font-weight: 700;
					line-height: 24px;
					letter-spacing: -0.17px;

				}

				&__terms-toggle {
					font-size: 0.750rem;
					text-decoration: none;
					line-height: 1.25;
				}
			}

			button {
				background: none;
				border-style: none;
			}

			.wp-block-button {

				&__link {
					padding: 16px 48px;
					border-radius: 36px;
				}
			}
		}

		/* Full Width Offer Card */

		&__full-width {
			display: flex;
			flex-direction: column;

			@include media('>=tablet') {
				flex-direction: row;
			}

			a {

				button {
					border-style: none;
					background: none;

					.wp-block-button {

						&__link {
							padding: 12px 24px;
							border-radius: 24px;
						}
					}
				}
			}

			.block-offer-card {

				&__container {
					width: fit-content;
					align-self: center;
					padding: 0 48px;
				}

				&__subheading {
					font-size: 1.125em;
				}

				&__offer-expiration {
					font-size: 1em;
				}

				&__terms-toggle {
					font-size: 1em;
				}

			}

			#{$block-offer-card}__image {
				width: 100%;
				object-fit: contain;
				margin-top:1.5em;

				@include media('>=tablet') {
					margin-top: 0;
					width: 66%;
				}
			}
		}

		

		

	}

	/* Blue Highlight */

	&__blue-highlight {
		border-radius: 0.5rem;
		overflow: hidden;

		.block-offer-card {
			&__container {
				padding: 1.5rem;
				height: auto;
			}
			&__heading {
				@include font-sizes(1.5em, 1.5em, 1.5em, 1.5em);
				line-height: 1.4;
			}
			&__category {
				background-color: #b5d5eb;
				text-align: center;
				margin-bottom: 0;
				padding: 0.5rem 0;
				font-weight: 700;
			}
			&__offer-expiration {
				margin-top: 1rem;
				font-weight: 600;
			}
			&__terms-toggle {
				display: block;
				margin: 16px  auto 0 auto;
			}
		}
	}

}
