.post-type-archive-location {

	.site-inner {
		background-color: $grey_1;
	}

	.site-main {

		.block-area,
		.no-results {
			grid-column: 1 / -1;
			margin-bottom: 48px;
		}


		.archive-wrapper {
			@include columns(1);

			@include media(">=tablet") {
				@include columns(2);
				grid-column-gap: 1.5em;
				grid-row-gap: 1.5em;
			}
		}
	}

	.archive-filters {

	}

	@import "../pieces/location-filter-area";

	@import "../pieces/postal-code-filter";
}

