.archive {

	.site-main {

		.block-area,
		.no-results {
			grid-column: 1 / -1;
			margin-bottom: 48px;
		}


		.archive-wrapper {
			@include media(">small", "<medium") {
				@include columns(2);
			}

			@include media(">=medium") {
				@include columns(3);
			}
		}
	}
}

/* Archive Header
--------------------------------------------- */

.archive-description {
	text-align: center;
	width: 100%;
	max-width: $content-width;
	margin: 0 auto $grid-gap;

	& > *:last-child {
		margin-bottom: 0;
	}

	.search-form {
		margin: 0 auto;
	}

	.filter-control {

		&__container {

			.filter-reset {
				background-color: $grey_2;
				border-style: none;
				font-weight: 300;
				line-height: 1.375em;
				letter-spacing: -0.15px;
				font-size: 1em;
				padding: 0.250em 0.5em;
				border-radius: 20px;
				margin: 0.25em;

				&:hover,
				&:focus {
					background-color: $grey_3;
			}
			}
		}
	}


	.taxonomy-filters {

		button {
			background-color: $grey_2;
			border-style: none;
			font-weight: 300;
			line-height: 1.375em;
			letter-spacing: -0.15px;
			font-size: 1em;
			padding: 0.250em 0.5em;
			border-radius: 20px;
			margin: 0.25em;

			&:hover,
			&:focus {
				background-color: $grey_3;
			}
		}
	}

}

.author-archive-description {

	.avatar {
		border-radius: 50%;
		display: block;
		margin: 0 auto 16px;
	}

	h3:last-child {
		@include media(">=tablet") {
			margin-top: 48px;
		}
	}
}

.author-title {
	color: $grey_8;
	@include font-sizes( 18px, 20px );
	font-weight: 700;
	text-transform: uppercase;
}

/* Entry Navigation
--------------------------------------------- */

.pagination {
	border-top: 1px solid $border-color;
	font-size: 16px;
	text-align: center;
	padding-top: 22px;

	ul {
		margin: 0;

		li {
			list-style-type: none;
			display: inline-block;

			a {
				color: $base-color;
				border-radius: 50%;
				display: block;
				font-weight: 400;
				text-decoration: none;
				width: 29px;
				height: 29px;
				line-height: 29px;
				text-align: center;
			}

			&.pagination-next a,
			&.pagination-previous a {
				width: auto;
			}

			&:hover > a {
				color: $highlight;
			}

			&.active > a {
				background: $highlight;
				color: $white;
				font-weight: 700;
			}
		}
	}
}

/**
Split into its own file later
 */
.blog {

	background-color: $grey_1;

	.archive-description {
		display: none;
	}

	.site-inner {
		padding-top: 0;
	}

	.site-main {
		display: grid;
		grid-template-columns: 65% 35%;

		.archive-wrapper {
			display: block;
		}

		@include media("<=tablet") {
			grid-template-columns: 100%;
			grid-template-areas:
    		"header"
    		"sidebar"
    		"archive";
		}
	}

	h2 {
		@include font-sizes(2em);
		border-bottom: 1px solid $grey_2;
		padding-bottom: 0.25em;
		margin-bottom: 1.5em;
	}

	.post-summary {
		display: flex;
		background-color: $white;
		box-shadow: $drop-shadow;
		position: relative;
		flex-direction: column;

		@include media(">=tablet") {
			flex-direction: row;
		}

		a {
			text-decoration: none;
			color: $grey_10;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			&:hover,
			&:focus {
				> .post-summary {
					&__title {
						color: $highlight;
					}

					&__content {
						color: $grey_10;
					}
				}
			}
		}

		&__title {
			margin: 1em 0 1.5em;
			padding-bottom: 0;
			border: none;
			@include font-sizes(1.5em);

			@include media(">=tablet") {
				font-size: 1.125em;
				margin-top: 1.5em;
			}
		}

		&__image {
			min-width: 100%;
			margin: 0;
			object-fit: cover;
			object-position: center center;
			height: auto;

			@include media(">=tablet") {
				min-width: 50%;
			}
		}

		&__content {
			padding: 1.2em;

			@include media(">=tablet") {
				padding: 1.5em;
				font-size: 16px;
				line-height: 22px;
			}
		}
	}

	.archive-sidebar {
		padding: 0 0 0 2em;

		.wp-block-group {
			padding: 2em 0;

			&:first-of-type {
				padding-top: 0;
			}
		}

		@include media("<=tablet") {
			grid-area: sidebar;
			padding-left: 0;
		}
	}

	.archive-containment-field {
		@include media("<=tablet") {
			grid-area: archive;
		}
	}

	/*
	Likely this needs to be pulled out into a global style but for now its specific
	 */
	.wp-block-categories-list {

		li {
			display: inline-block;
			background-color: $grey_2;
			border-radius: 20px;
			padding: 0.25em 0.5em;
			margin: 0.25em;

			&:hover,
			&:focus {
				background-color: $grey_3;
			}
		}

		a {
			color: $base-color;
			@include font-sizes(0.8em);
			text-decoration: none;
		}
	}

	.single-post {

		&__featured {
			border-top: 3px solid $black;
			display: inline-block;
			padding: .5em 0 0 0;
			@include font-sizes(1.5em);
			margin: 0 0 1.5em 0;
			font-weight: bold;
			position: relative;

			&__read-more {
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		&__header {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			@include alignfull();
			padding: 10vh 0;
			grid-column-end: span 2;
			margin-top: 0;

			&__inner-blocks {
				@include alignwide();

				@include media("<=tablet") {
					margin-top: 0;
					margin-bottom: 0;
				}
			}

			&__container {
				background-color: rgba(255,255,255,0.8);
				max-width: 60%;
				margin: 0 auto;
				padding: 1.5em;
				position: relative;

				@include media("<=tablet") {
					max-width: 100%;
				}
			}

			@include media("<=tablet") {
				grid-area: header;
			}
		}
	}
}

/* Extending blog anchor tag style updates to the author pages */

.author {
	.post-summary {
		a {
			text-decoration: none;
			color: $grey_10;

			&:hover,
			&:focus {
				> .post-summary {
					&__title {
						color: $highlight;
					}

					&__content {
						color: $grey_10;
					}
				}
			}
		}
	}
}

@import '../pieces/postal-code-filter';
