.post-type-archive-location {

	.site-inner {
		background-color: $grey_1;
	}

	.site-main {

		.block-area,
		.no-results {
			grid-column: 1 / -1;
			margin-bottom: 48px;
		}


		.archive-wrapper {
			@include columns(1);

			@include media(">=tablet") {
				@include columns(2);
				grid-column-gap: 1.5em;
				grid-row-gap: 1.5em;
			}
		}
	}

	.archive-filters {

	}

	.location-archive-filters {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;

		@include media('>=tablet') {
			grid-template-columns: 1fr 60px 1fr;
		}

		&__header {
			@include font-sizes(1.2em);
		}

		&__filter {
			background-color: $grey_2;
			padding: 24px;
			height: 100%;
			text-align: left;
		}

		&__divider {
			font-weight: 700;
			font-size: 24px;
			text-transform: capitalize;
		}

		&__province-form {

			.province-filter {

				&__select {
					padding: 8px 16px;
				}
			}
		}
	}

	@import "../pieces/postal-code-filter";
}

