//Tabbed Content
.block-tabbed-content__tab__title {
	display: none;
}

.block-tabbed-content__tabs {
	display: flex;
	margin-bottom: 32px;
}


.block-tabbed-content__tabs.init {
	.block-tabbed-content__tab:first-of-type {
		border-bottom: 2px solid brand-color('red');
		color: brand-color('red');

		img {
			filter: hue-rotate(0) contrast(100%) brightness(100%) grayscale(0);
		}

		&:hover {
			color: $white;

			img {
				filter: brightness(0) invert(1);
			}
		}
	}
}

.block-tabbed-content__tab {
	border:none;
	display: flex;
	align-items: center;
	background-color: transparent;
	font-weight: 700;
	@include font-sizes(24px);
	padding: 8px 24px 4px;
	border-bottom: 2px solid transparent;

	img {
		filter: hue-rotate(180deg) contrast(100%) brightness(0) grayscale(100%);
		width: 20px;
		height: 20px;
		margin: 0 10px 0 0;
	}

	&:hover {
		background-color: brand-color('red');
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		color: $white;

		img {
			filter: brightness(0) invert(1);
		}
	}

	&.active {
		border-bottom: 2px solid brand-color('red');
		color: brand-color('red');

		img {
			filter: hue-rotate(0) contrast(100%) brightness(100%) grayscale(0);
		}

		&:hover {
			color: $white;

			img {
				filter: brightness(0) invert(1);
			}
		}
	}
}

.block-tabbed-content__tab-panels.init {

	.block-tabbed-content__panel:first-of-type .block-tabbed-content__tab-content {
		display: block;
		position: relative;
	}
}

.block-tabbed-content__panel {
	display: block;
	position: relative;
	width: 100%;
}

.block-tabbed-content__tab-content {
	display: none;
	position: absolute;

	&.active {
		display: block;
		position: relative;
	}
}


/*
Slide
 */
.block-slide__wrapper {
	position: relative;
}

.block-slide__image {
	position: absolute;
	object-fit: cover;
	object-position: center center;
	height: 100%;
	width: 100%;
}

/**
Cover
 */
.wp-block-cover {
	@include media('<tablet') {
		padding: 0;
		flex-direction: column;
	}

	img.wp-block-cover__image-background {
		@include media('<tablet') {
			position: relative;
		}
	}

	.wp-block-columns {
		margin-bottom: 1em;
	}

	.wp-block-cover__inner-container {
		padding: 1em 1em 0.25em 1em;
		margin-bottom: 0;
	}
}

/**
Blog Posts
 */
.block-blog-posts {

	&--row {
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr) );
		grid-column-gap: 1.5em;
	}

	&__archive-links {
		text-align: center;
		width: 100%;
	}

	&__archive-link {
		margin: 0 auto;
	}

	&__post {
		$single-post: &;
		display: flex;
		background-color: $white;
		position: relative;
		margin: 1.5em 0;
		box-shadow: $drop-shadow;

		&__summary {
			flex-basis: 50%;
			padding: 1em;
		}

		&__title {
			@include font-sizes(1.1rem);
			font-weight: 700;
			border: none !important;
			line-height: 1.5rem;
		}

		&__link {
			@include font-sizes(1.1rem);
			font-weight: 700;
			line-height: inherit;
			text-decoration: none;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&__image {
			height: auto;
			object-fit: cover;
			object-position: center center;

			&--1-1 {
				aspect-ratio: 1 / 1;
			}

			&--2-3 {
				aspect-ratio: 3 / 2;
			}
		}

		&__post-meta {
			display: flex;
			margin: 0.25em 0 1em 0;

			.avatar {
				aspect-ratio: 1 / 1;
				border-radius: 100%;
				height: 32px;
				width: 32px;
				margin-right: 0.5em;
			}
		}

		&__author-meta {

			&__name {
				font-weight: 700;
				line-height: 1;
			}

			&__date,
			.rt-reading-time {
				display: inline-block;
				@include font-sizes(0.75em);
			}

			.rt-reading-time{

				&:before {
					content: '•';
					display: inline-block;
					margin: 0 0.25em 0 0.5em;
				}
			}
		}

		&--horizontal {
			flex-direction: row;

			#{$single-post}__image {
				width: 50%;
			}
		}

		&--vertical {
			flex-direction: column;
		}

		&--minimal {

			#{$single-post}__title {
				margin-bottom: 0;
			}
		}
	}
}
