/* Typographical Elements
--------------------------------------------- */

body {
	@include base-style();
}

a {
	color: $highlight;
	text-decoration: underline;
	@extend %transition;

	&:hover {
		text-decoration: none;
	}

	svg {
		@extend %transition;
	}
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}

.clearfix {
	@include clearfix;
}

/* Paragraph
--------------------------------------------- */

p {
	margin: 0 0 $base-margin;
	padding: 0;

	&.large,
	&.has-large-font-size {
    	@include large-font-style();
	}

	&.has-normal-font-size {
		@include font-sizes( 1em, 1em );
		line-height: 1.375em;
	}

	&.small,
	&.has-small-font-size {
	    font-size: .875em;
	}
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $grey_10;
	font-family: $serif;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -0.45px;
	margin: 0 0 16px;

	a {
		color: $grey_10;

		&:hover {
			color: $highlight;
			text-decoration: none;
		}
	}

	&:focus {
		outline: none;
	}

	&.has-background {
		padding: 0;
		width: fit-content;
	}
}

h1 {
    @include font-sizes( 32px, 42px, 52px );
}

h2 {
    @include font-sizes( 28px, 32px, 48px );
}

h3 {
    @include font-sizes( 24px, 26px, 40px );
}

h4, h5, h6 {
    @include font-sizes( 18px, 22px );
}

/**
Block Styles
 */
.is-style-shadowed {
	box-shadow: 0 4px 8px 0 rgba(56,61,67,0.30);
}

.is-style-bordered {
	border: 1px solid brand-color('red');
}

.is-style-pros {
	padding-left: 0 !important;

	li {
		list-style: none;

		&::before {
			content: '';
			display: inline-block;
			background-image: url('../icons/utility/thumb_up_green.svg');
			background-repeat: no-repeat;
			background-position: center;
			width: 22px;
			height: 19px;
			margin-right: 9px;
			vertical-align: middle;
		}
	}
}

.is-style-cons {
	padding-left: 0 !important;

	li {
		list-style: none;

		&::before {
			content: '';
			display: inline-block;
			background-image: url('../icons/utility/thumb_down_red.svg');
			background-repeat: no-repeat;
			background-position: center;
			width: 22px;
			height: 19px;
			margin-right: 9px;
			vertical-align: middle;
		}
	}
}

.is-style-checkmarked {
	padding-left: 0 !important;

	li {
		list-style: none;
		display: flex;
		align-items: center;
		margin: 0 0 1em 0;

		&::before {
			content: '';
			display: inline-block;
			background-image: url('../icons/utility/check_black_24dp_rounded.svg');
			background-repeat: no-repeat;
			background-position: center;
			width: 24px;
			height: 24px;
			filter: invert(11%) sepia(99%) saturate(5418%) hue-rotate(352deg) brightness(98%) contrast(86%);
			position: relative;
			margin: 0 0.5em 0 0;
		}
	}
}

.breadcrumb,
.yoast-breadcrumbs {

	text-align: left;

	.breadcrumb_last,
	a {
		color: $black;
		font-size: 12px;
		text-decoration: none;

		&:after {
			padding: 8px 0px 8px 8px;
	  		color: $black;
	  		content: "/\00a0";
		}

		&:last-child {
			font-weight: 600;

			&:after {
		  		content: "";
			}
		}
	}
}

/**
Operational Banner
 */
.banner-operational {
	background-color: brand-color('grey');
	color: brand-color('white');
	padding: 0.5em;
	margin-top: 0 !important;
	text-align: center;

	p {
		margin: 0;
		padding: 0;
	}

	a {
		color: brand-color( 'white' );
	}
}

/**
Legal Panel In Footer Area
 */
.legal__terms-toggle {
	display: flex;
	width: 100%;
	max-width: 100%;
	justify-content: space-between;
	padding: 0.75em 1em 0.5em;
	border: 0;
	align-items: center;

	img {
		height: 24px;
		width: 24px;
	}
}

.legal__terms-details {
	background-color: brand-color('grey-20');
	padding: 1em;
}

/**
Carousel
 */
.block-carousel__wrapper:not([data-num-slides="1"]) {

	.glider-slide {
		margin: 1em;

		&:first-of-type {
			margin-left: 0.5em;
		}

		&:last-of-type {
			margin-right: 0.5em;
		}
	}
}

