//Tabbed Content
.block-tabbed-content__tab__title {
	display: none;
}

.block-tabbed-content__tabs {
	display: flex;
	margin-bottom: 32px;
	overflow-x: scroll;
	overflow-y: hidden;
}


.block-tabbed-content__tabs.init {
	.block-tabbed-content__tab:first-of-type {
		border-bottom: 2px solid brand-color('red');
		color: brand-color('red');

		img {
			filter: hue-rotate(0) contrast(100%) brightness(100%) grayscale(0);
		}

		&:hover {
			color: $white;

			img {
				filter: brightness(0) invert(1);
			}
		}
	}
}

.block-tabbed-content__tab {
	border:none;
	display: flex;
	align-items: center;
	background-color: transparent;
	font-weight: 700;
	@include font-sizes(24px);
	padding: 8px 24px 4px;
	border-bottom: 2px solid transparent;
	flex-shrink: 0;

	img {
		filter: hue-rotate(180deg) contrast(100%) brightness(0) grayscale(100%);
		width: 20px;
		height: 20px;
		margin: 0 10px 0 0;
	}

	&:hover {
		background-color: brand-color('red');
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		color: $white;

		img {
			filter: brightness(0) invert(1);
		}
	}

	&.active {
		border-bottom: 2px solid brand-color('red');
		color: brand-color('red');

		img {
			filter: hue-rotate(0) contrast(100%) brightness(100%) grayscale(0);
		}

		&:hover {
			color: $white;

			img {
				filter: brightness(0) invert(1);
			}
		}
	}
}

.block-tabbed-content__tab-panels.init {

	.block-tabbed-content__panel:first-of-type .block-tabbed-content__tab-content {
		display: block;
		position: relative;
	}
}

.block-tabbed-content__panel {
	display: block;
	position: relative;
	width: 100%;
}

.block-tabbed-content__tab-content {
	display: none;
	position: absolute;

	&.active {
		display: block;
		position: relative;
	}
}

/**
Button Block
 */

.wp-block-buttons {

	margin: 1em 0;
	& > .wp-block-button {

		&__width-25,
		&__width-50,
		&__width-75,
		&__width-100 {

			@include media('<tablet') {
				//I don't love an !important but this is to keep buttons from looking weird on mobile
				width: auto !important;
			}
		}
	}
}

/**
Operational Banner
 */
.banner-operational {
	background-color: brand-color('grey');
	color: brand-color('white');
	padding: 0.5em;
	margin-top: 0 !important;
	text-align: center;

	p {
		margin: 0;
		padding: 0;
	}

	a {
		color: brand-color( 'white' );
	}
}

/**
Legal Panel In Footer Area
 */
.legal__terms-toggle {
	display: block;
	width: 100%;
	max-width: 100%;
	justify-content: space-between;
	padding: 1.5em;
	border: 0;
	text-align: left;

	img {
		display: inline-block;
		height: 20px;
		width: 15px;
		vertical-align: middle;
		margin: 0 .5em;
		object-fit: contain;
		object-position: top;
	}
}

.legal__terms-details {
	background-color: $grey_1;
	padding: 1em;
}

/*
Slide
 */
.block-slide__wrapper {
	position: relative;
}

.block-slide__image {
	position: absolute;
	object-fit: cover;
	object-position: center center;
	height: 100%;
	width: 100%;
}

/**
Cover
 */
.wp-block-cover {
	@include media('<tablet') {
		padding: 0;
		flex-direction: column;
	}

	img.wp-block-cover__image-background {
		@include media('<tablet') {
			position: relative;
		}
	}

	.wp-block-columns {
		margin-bottom: 1em;
	}

	.wp-block-cover__inner-container {
		padding: 1em 1em 0.25em 1em;
		margin-bottom: 0;
	}
}
