/* Navigation
---------------------------------------------------------------------------------------------------- */

//generic menu styles
.menu {
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
		display: block;
	}
}

.nav-menu {
	.menu-item {
		&__icon {
			display: none;
		}
	}
	@include media(">mobile_menu") {
		display: flex;
		flex-flow: column-reverse nowrap;
		flex-grow: 1;

		& > * {
			line-height: 0;
		}

		ul {
			clear: both;
			line-height: 1;
			margin: 0;
			width: 100%;
		}

		.menu-item {
			a {
				border: none;
				color: $base-color;

				font-size: 16px;
				font-weight: 700;
				line-height: 22px;
				text-decoration: none;
				align-items: center;

				&:hover {
					color: brand-color("red");
				}
			}

			&__icon {
				display: flex;
				max-width: 3rem;
				min-width: 3em;
			}
		}

		.nav-primary,
		.nav-secondary {
			display: flex;
			justify-content: flex-end;
		}

		.nav-primary + .nav-secondary {
			margin-bottom: 16px;
		}

		.menu {
			display: flex;
			width: auto;

			//styles for first menu item with icons
			> .menu-item {
				min-width: 14.28%;
				flex: 1 1 0px; // grow equal width;
				> a {
					display: flex;
					flex-direction: column;
					text-align: center;
					min-height: 7.25rem;
					justify-content: center;
				}

				&:hover {
					background-color: brand-color("grey-10");

					> a {
						color: brand-color("red");
					}
				}

				> .sub-menu {
					background-color: brand-color("grey-10");
					opacity: 0;
					position: absolute;
					width: 100%;
					z-index: 99;
					top: 100%;
					right: left;
					display: flex;
					justify-content: space-between;
					padding: 2rem 0;
					left: -9999px;
					a {
						font-weight: 300;
					}

					span {
						font-weight: 700;
						display: block;
						padding-bottom: 0.5rem;
					}

					&:before,
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: brand-color("grey-10");
						height: 100%;
						z-index: -1;
						top: 0;
					}

					&:before {
						left: -100%;
					}

					&:after {
						right: -100%;
					}

					> li {
						position: relative;
						width: 100%;

						&:not(:last-of-type) {
							border-right: 1px solid brand-color("grey-30");
							margin-right: 2rem;
							padding-right: 5px;
						}

						&:after {
							content: "";
							height: 90%;
						}
					}

					.sub-menu {
						a {
							padding: 8px 0;
						}

						// li {
						// 	padding: 4px 0;
						// }
					}
				}

				&:hover {
					& > .sub-menu {
						opacity: 1;
						left: 0;
					}
				}
			}
		}
	}
}

/* Toggles
--------------------------------------------- */

.menu-toggle {
	@include button-reset;
	line-height: 0;
	text-align: center;

	.close {
		display: none;
	}

	&:hover,
	&.active {
		background: $grey_3;
	}

	&.active {
		margin-right: 25px;

		.close {
			display: inline;
		}

		.open {
			display: none;
		}
	}
}

.site-header .wrap {
	@include media("<=mobile_menu") {
		padding: 0 24px;
		display: flex;
		align-items: center;
	}

	& > .menu-toggle {
		@include media(">mobile_menu") {
			display: none;
		}
	}
}
