/**
Typefaces
 */
@font-face {
	font-family: "Post Grotesk";
	src: url("../fonts/PostGrotesk-Light.WOFF") format("woff");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Post Grotesk";
	src: url("../fonts/PostGrotesk-Book.WOFF") format("woff");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Post Grotesk";
	src: url("../fonts/PostGrotesk-Medium.WOFF") format("woff");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Post Grotesk";
	src: url("../fonts/PostGrotesk-Bold.WOFF") format("woff");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Post Grotesk";
	src: url("../fonts/PostGrotesk-Black.WOFF") format("woff");
	font-weight: 900;
	font-display: swap;
}
